<div class="hero-image">
    <div class="hero-text">
        <h1>Healthy Eats</h1>
    </div>
    <div class="input-group">
        <input class="input-text" type="text" name="eat"><button class="add" type="button">Add</button>
    </div>
</div>
{{!-- <div style="margin: 0 auto;"> --}}
<div class="table">
    <div class="row">
        <div class="cell"><h2>Plate</h2></div>
        <div class="cell"><h2>Eaten</h2></div>
    </div>
</div>
{{!-- </div> --}}
{{!-- <i class="fas fa-sort-amount-down-alt"></i>
<i class="fas fa-hand-holding-heart"></i>
<i class="fas fa-drumstick-bite"></i> --}}